{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto</title>
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.css">
    <script src="https://kit.fontawesome.com/777a0b0f94.js" crossorigin="anonymous"></script>
    <script src="{% get_static_prefix %}query/jquery-3.6.0.js"></script>
</head>

<body>
    <!------------------HEDER--------------->
    <header>
        <div class="container">
            <div class="hdr">
                <div class="logo">
                    <div class="cnt">
                        <h2>CryptHority</h2>
                        <p>Discover whats hot in Crypto</p>
                    </div>
                </div>


                <div class="accounts">
                    <div class="btn1">
                        <a href="#">Create an Account</a>
                    </div>
                    <div class="btn2">
                        <a href="#">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- -----------Navbar---------------- -->
    <nav>
        <div class="container">
            <div class="nav">
                <p>Follow</p>
                <ul>
                    <li><a href="#">#Nft</a></li>
                    <li><a href="#">#Debi</a></li>
                    <li><a href="#">#Metaverse</a></li>
                    <li><a href="#">#Layer2</a></li>
                    <li><a href="#">#How To</a></li>
                    <li><a href="#">#Blockchain</a></li>
                    <li><a href="#">#Crypto</a></li>
                    <li><a href="#">#DeSo</a></li>
                    <li><a href="#">#SeamAlert</a></li>
                    <li><a href="#">#DApp</a></li>
                    <li><a href="#">#Web 3.0</a></li>
                    <li><a href="#">#Minig</a></li>
                    <li><a href="#">See All</a></li>

                </ul>
                <div class="toggle">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </div>
    </nav>
    <!-------------Market Value------------>
    <section class="mrt">
        <div class="container">
            <div class="marketValue">
                <div class="mar_l">
                    <p>Market Value</p>
                    <div class="btc">
                       <img src="{% get_static_prefix %}images/Bitcoin (BTC).png" alt="">
                        <p>BTC</p>
                        <span class="Price">
                            <p>$19,932</p>
                        </span>
                    </div>
                    <div class="btc">
                        <img src="{% get_static_prefix %}images/Ethereum (ETH).png" alt="">
                        <p>ETH</p>
                        <span class="Price">
                            <p>$19,932</p>
                        </span>
                    </div>
                    <div class="btc">
                       <img src="{% get_static_prefix %}images/Tether (USDT).png" alt="">
                        <p>USDT</p>
                        <span class="Price">
                            <p>$19,932</p>
                        </span>
                    </div>
                    <div class="btc">
                        <img src="{% get_static_prefix %}images/Group 26.png" alt="">
                        <p>DOGE</p>
                        <span class="Pricel">
                            <p>$19,932</p>
                        </span>
                    </div>
                </div>

                <div class="see">
                    <a href="#">See All</a>
                </div>
            </div>

        </div>
    </section>


    <!--Section 1-->
    <section>
        <div class="container">
            <div class="flex">
                <div class="sec1_left">
                    <img src="{% get_static_prefix %}images/ab.jpg" alt="">
                </div>

                <div class="sec1_right">
                    <h2>Nic Carter Selling Outwasn't on may 2022</h2>
                    <p>Gas, by the way, is crypto speak for the cost of doing business
                        on Ethereum. Gas fees are essentially transaction fees.
                        <span style="font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18.2857px;
                        line-height: 21px;
                        color: #2AC1E2;
                        ">#Security</span>
                    </p>

                    <div class="likes">
                        <div class="like1">
                            <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                            <p>1,235</p>
                        </div>
                        <div class="like1">
                            <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                            <p>1,235</p>
                        </div>
                        <div class="like1">
                            <img src='{% get_static_prefix %}images/Vector.png' alt="">

                        </div>
                    </div>

                    <div class="mitchel">
                        <div class="mimg">
                            <img src="{% get_static_prefix %}images/mitcehl.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="name">
                                <h5>Mitchel March</h5>
                                <div class="fol">
                                    <h3>Follow</h3>
                                </div>
                            </div>
                            <div class="det">
                                <h6>11 Followers</h6>
                                <h6>5 Posts</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Peoples -->
                    <div class="ib">
                        <div class="jason">
                            <div class="jsimg">
                                <img src="{% get_static_prefix %}images/json.png" alt="">
                            </div>
                            <div class="jsdata">
                                <h4>Jason </4>
                                    <h5>I love NFT and all the artwork they are offering. Cool</h5>
                            </div>
                        </div>

                        <div class="jason">
                            <div class="jsimg">
                                <img src='{% get_static_prefix %}images/Ellipse 10 (1).png' alt="">
                            </div>
                            <div class="jsdata">
                                <h4>Darry!</4>
                                    <h5>I Yea Agreed! Crypto is future currency!!!!!!!!!!!. </h5>
                            </div>
                        </div>

                        <div class="jason">
                            <div class="jsimg">
                                <img src="{% get_static_prefix %}images/json.png" alt="">
                            </div>
                            <div class="jsdata">
                                <h4>Jason </4>
                                    <h5>I love NFT and all the artwork they are offering. Cool</h5>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- ------------SECTION 2---------- -->
    <section>
        <div class="container">
            <div class="sec2">
                <h2>JOIN THE CONVERSATIONS</h2>
                <div class="sec2flex">
                    <div class="chat">
                        <div class="chats">
                            <div class="chat1">
                                <div class="chat_img">
                                    <img src="{% get_static_prefix %}images/Ellipse 10.png" alt="">
                                </div>
                                <div class="chatdata">
                                    <div class="hash">
                                        <p>Vid Feg</p>
                                        <h5>#Security</h5>
                                    </div>
                                    <div class="message">
                                        <p>Yea Agreed! Crypto is future currency!!!!!!!!!!!</p>
                                    </div>
                                </div>
                            </div>


                            <div class="chat1">
                                <div class="chat_img">
                                    <img src="{% get_static_prefix %}images/Ellipse 10 (1).png" alt="">
                                </div>
                                <div class="chatdata">
                                    <div class="hash">
                                        <p>VJson F.</p>
                                        <h5>#NFT</h5>
                                    </div>
                                    <div class="message">
                                        <p>I love NFT and all the artwork they are offering. Cool</p>
                                    </div>
                                </div>
                            </div>


                            <div class="chat1">
                                <div class="chat_img">
                                    <img src="{% get_static_prefix %}images/json.png" alt="">
                                </div>
                                <div class="chatdata">
                                    <div class="hash">
                                        <p>Darryl B </p>
                                        <h5>#Bitcoin</h5>
                                    </div>
                                    <div class="message">
                                        <p>YYea Agreed! Crypto is future currency!!!!!!!!!!!. So according to the new
                                            bull run gonna end soon and cover all
                                            expense.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="chat1">
                                <div class="chat_img">
                                    <img src="{% get_static_prefix %}images/json.png" alt="">
                                </div>
                                <div class="chatdata">
                                    <div class="hash">
                                        <p>VJson F.</p>
                                        <h5>#NFT</h5>
                                    </div>
                                    <div class="message">
                                        <p>I love NFT and all the artwork they are offering. Cool</p>
                                    </div>
                                </div>
                            </div>



                            <div class="chat1">
                                <div class="chat_img">
                                    <img src="{% get_static_prefix %}images/Ellipse 10.png" alt="">
                                </div>
                                <div class="chatdata">
                                    <div class="hash">
                                        <p>Vid Feg</p>
                                        <h5>#Security</h5>
                                    </div>
                                    <div class="message">
                                        <p>Yea Agreed! Crypto is future currency!!!!!!!!!!!</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="img1">
                        <img src="{% get_static_prefix %}images/yellow.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

<!------------------------Blogs---------------------->
<section class="blogsection">
    <div class="container">
        <div class="blogs">
            <div class="blog">
                <h3>#Bitcoin</h3>
                <img src="{% get_static_prefix %}images/bit.jpg" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to know</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>

           


            <div class="blog">
                <h3>#NFT</h3>
                <img src="{% get_static_prefix %}images/img1.jpg" alt="">
               <a href="#"><h2>Nic Carter selling out wasn't on my 2022</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>


     <div class="blog">
                <h3>#Altcoin</h3>
                <img src="{% get_static_prefix %}images/img2.jpg" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>


            <!--  -->
            <div class="blog">
                <h3>#Bitcoin</h3>
                <img src="{% get_static_prefix %}images/img3.png" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to know</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>

           


            <div class="blog">
                <h3>#Bitcoin</h3>
                <img src="{% get_static_prefix %}images/img4.jpg" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to know</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>


     <div class="blog">
                <h3>#Bitcoin</h3>
                <img src="{% get_static_prefix %}images/img5.jpg" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to know</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>
            <!--  -->

            <!--  -->
            <div class="blog">
                <h3>#Bitcoin</h3>
                <img src="{% get_static_prefix %}images/img6.jpg" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to know</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>

           


            <div class="blog">
                <h3>#Bitcoin</h3>
                <img src="{% get_static_prefix %}images/img7.jpg" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to know</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>


     <div class="blog">
                <h3>#Bitcoin</h3>
                <img src="{% get_static_prefix %}images/img8.jpg" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to know</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>
            <!--  -->

            <!--  -->
            <div class="blog">
                <h3>#Bitcoin</h3>
                <img src="{% get_static_prefix %}images/img9.jpg" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to know</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>

           


            <div class="blog">
                <h3>#Bitcoin</h3>
                <img src="{% get_static_prefix %}images/img10.jpg" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to know</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>


     <div class="blog">
                <h3>#Bitcoin</h3>
                <img src="{% get_static_prefix %}images/img11.jpg" alt="">
               <a href="#"><h2>What Is Cryptocurrency? Get to know</h2></a> 
                <p>Gas, by the way, is crypto speak for the cost of doing business on Ethereum. Gas fees are essentially transaction fees.</p>
                
                <div class="likebtn">
                    <div class="like2">
                        <img src="{% get_static_prefix %}images/flames.jpg" alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Frame.jpg' alt="">
                        <p>1,235</p>
                    </div>
                    <div class="like2">
                        <img src='{% get_static_prefix %}images/Vector.png' alt="">

                    </div>
                </div>
            </div>
            <!--  -->

        </div>
    </div>
</section>


<!----------------Foooter---------------->

<footer>
    <div class="ftrflex">
        <div class="copy"><p>© 2022 Crypthority. All rights reserved.</p></div>
        <div class="privacy">
            <a href="#">Privacy Policy</a>
            <a href="#">Term of Use</a>
        </div>
        <div class="ftricons">
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <span class="con">
                    <a href="#">Contact Us</a>
                </span>
            </ul>
           
        </div>
    </div>
</footer>


<!------------------------Script-------------------------->
<script>
    $(document).ready(function(){
        $(".toggle").click(function(){
            // $(".menu.active").toggleClass("active");
            $(".nav").toggleClass("active");
            $(".toggle").toggleClass("active");
        })
      });
   </script>
</body>
</html>